<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="bde6ddefbc1f4a4db4effe56b025f160" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_bde6ddefbc1f4a4db4effe56b025f160 = echarts.init(
            document.getElementById('bde6ddefbc1f4a4db4effe56b025f160'), 'white', {renderer: 'canvas'});
        var option_bde6ddefbc1f4a4db4effe56b025f160 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    1.258108377456665,
                    7.821000099182129
                ],
                [
                    1.2426812648773193,
                    7.636199951171875
                ],
                [
                    1.3199135065078735,
                    7.557499885559082
                ],
                [
                    1.2260738611221313,
                    7.511600017547607
                ],
                [
                    1.205848217010498,
                    7.414899826049805
                ],
                [
                    1.1545246839523315,
                    7.4039998054504395
                ],
                [
                    1.2040431499481201,
                    7.384300231933594
                ],
                [
                    1.239048719406128,
                    7.365099906921387
                ],
                [
                    1.2209957838058472,
                    7.363800048828125
                ],
                [
                    1.2346335649490356,
                    7.19980001449585
                ],
                [
                    1.1652566194534302,
                    7.163000106811523
                ],
                [
                    1.203384280204773,
                    7.162099838256836
                ],
                [
                    1.1656070947647095,
                    7.040800094604492
                ],
                [
                    1.0875364542007446,
                    7.03410005569458
                ],
                [
                    1.18776273727417,
                    7.025100231170654
                ],
                [
                    1.1816372871398926,
                    6.976799964904785
                ],
                [
                    1.1430999040603638,
                    6.942500114440918
                ],
                [
                    1.2600810527801514,
                    6.9197998046875
                ],
                [
                    1.1061527729034424,
                    6.804999828338623
                ],
                [
                    1.2186006307601929,
                    6.686699867248535
                ],
                [
                    1.0289300680160522,
                    6.646900177001953
                ],
                [
                    1.2490571737289429,
                    6.630099773406982
                ],
                [
                    1.054443597793579,
                    6.581999778747559
                ],
                [
                    0.9795715808868408,
                    6.576000213623047
                ],
                [
                    1.09208345413208,
                    6.522799968719482
                ],
                [
                    1.0952037572860718,
                    6.512499809265137
                ],
                [
                    1.1273994445800781,
                    6.480199813842773
                ],
                [
                    1.0061519145965576,
                    6.4770002365112305
                ],
                [
                    1.211014986038208,
                    6.47629976272583
                ],
                [
                    1.1796176433563232,
                    6.473599910736084
                ],
                [
                    1.0517305135726929,
                    6.466700077056885
                ],
                [
                    0.9493407011032104,
                    6.455100059509277
                ],
                [
                    1.168923258781433,
                    6.446899890899658
                ],
                [
                    1.203661322593689,
                    6.4456000328063965
                ],
                [
                    1.231731653213501,
                    6.390699863433838
                ],
                [
                    1.2323181629180908,
                    6.340799808502197
                ],
                [
                    1.1065844297409058,
                    6.309100151062012
                ],
                [
                    1.0441974401474,
                    6.292799949645996
                ],
                [
                    0.8310883045196533,
                    6.262199878692627
                ],
                [
                    1.2201673984527588,
                    6.234099864959717
                ],
                [
                    0.9093149900436401,
                    6.220900058746338
                ],
                [
                    1.220850944519043,
                    6.1803998947143555
                ],
                [
                    1.085569143295288,
                    6.177999973297119
                ],
                [
                    1.079747200012207,
                    6.171800136566162
                ],
                [
                    1.029070258140564,
                    6.164599895477295
                ],
                [
                    0.8856733441352844,
                    6.127600193023682
                ],
                [
                    1.1832774877548218,
                    6.125199794769287
                ],
                [
                    1.1735914945602417,
                    6.122799873352051
                ],
                [
                    0.7678723931312561,
                    6.119999885559082
                ],
                [
                    0.9832875728607178,
                    6.106100082397461
                ],
                [
                    1.2325856685638428,
                    6.085899829864502
                ],
                [
                    1.1163902282714844,
                    6.071100234985352
                ],
                [
                    1.0915559530258179,
                    6.062699794769287
                ],
                [
                    1.0893537998199463,
                    6.038899898529053
                ],
                [
                    0.8850036859512329,
                    6.02209997177124
                ],
                [
                    1.078463077545166,
                    6.016300201416016
                ],
                [
                    1.101975917816162,
                    5.9670000076293945
                ],
                [
                    0.9803828001022339,
                    5.948200225830078
                ],
                [
                    0.8857672810554504,
                    5.935100078582764
                ],
                [
                    0.9119067192077637,
                    5.903600215911865
                ],
                [
                    1.0955945253372192,
                    5.891200065612793
                ],
                [
                    1.0084724426269531,
                    5.856800079345703
                ],
                [
                    1.0448073148727417,
                    5.849599838256836
                ],
                [
                    1.109461784362793,
                    5.828499794006348
                ],
                [
                    1.1565419435501099,
                    5.821499824523926
                ],
                [
                    0.9286164045333862,
                    5.780600070953369
                ],
                [
                    1.0680179595947266,
                    5.76800012588501
                ],
                [
                    1.1974509954452515,
                    5.760700225830078
                ],
                [
                    1.002897024154663,
                    5.737199783325195
                ],
                [
                    0.9376586079597473,
                    5.711299896240234
                ],
                [
                    0.8798621296882629,
                    5.600299835205078
                ],
                [
                    0.9583731293678284,
                    5.585299968719482
                ],
                [
                    1.1302772760391235,
                    5.5782999992370605
                ],
                [
                    0.8646109104156494,
                    5.559100151062012
                ],
                [
                    1.0233640670776367,
                    5.546800136566162
                ],
                [
                    0.87916100025177,
                    5.533299922943115
                ],
                [
                    0.9315484166145325,
                    5.485000133514404
                ],
                [
                    1.3189550638198853,
                    5.474299907684326
                ],
                [
                    0.8880544304847717,
                    5.466599941253662
                ],
                [
                    1.0951956510543823,
                    5.458600044250488
                ],
                [
                    0.9542672038078308,
                    5.424799919128418
                ],
                [
                    0.8199043869972229,
                    5.398600101470947
                ],
                [
                    1.0051751136779785,
                    5.377099990844727
                ],
                [
                    0.7837649583816528,
                    5.376500129699707
                ],
                [
                    1.1628960371017456,
                    5.3709001541137695
                ],
                [
                    0.9425937533378601,
                    5.3302001953125
                ],
                [
                    0.882904052734375,
                    5.23960018157959
                ],
                [
                    0.4424029290676117,
                    5.234600067138672
                ],
                [
                    0.8626294136047363,
                    5.198999881744385
                ],
                [
                    0.6457356810569763,
                    5.198800086975098
                ],
                [
                    1.0882340669631958,
                    5.193900108337402
                ],
                [
                    1.0930347442626953,
                    5.173399925231934
                ],
                [
                    0.6205543279647827,
                    5.163599967956543
                ],
                [
                    0.6137131452560425,
                    5.1554999351501465
                ],
                [
                    0.6542576551437378,
                    5.1402997970581055
                ],
                [
                    0.9696173667907715,
                    5.122300148010254
                ],
                [
                    0.6700066924095154,
                    5.121500015258789
                ],
                [
                    1.0805567502975464,
                    5.084099769592285
                ],
                [
                    0.40516048669815063,
                    5.075200080871582
                ],
                [
                    0.2677810788154602,
                    5.059899806976318
                ],
                [
                    0.6596840023994446,
                    5.048299789428711
                ],
                [
                    0.6716996431350708,
                    5.047599792480469
                ],
                [
                    0.5297720432281494,
                    5.04610013961792
                ],
                [
                    0.5600710511207581,
                    5.003499984741211
                ],
                [
                    0.6117153763771057,
                    4.973199844360352
                ],
                [
                    0.7377017736434937,
                    4.9583001136779785
                ],
                [
                    0.6823609471321106,
                    4.940899848937988
                ],
                [
                    0.9678928256034851,
                    4.92549991607666
                ],
                [
                    0.5663941502571106,
                    4.890500068664551
                ],
                [
                    0.7406527400016785,
                    4.887899875640869
                ],
                [
                    0.5949505567550659,
                    4.872000217437744
                ],
                [
                    0.8652169704437256,
                    4.744200229644775
                ],
                [
                    0.5649209022521973,
                    4.670499801635742
                ],
                [
                    0.7320998311042786,
                    4.6402997970581055
                ],
                [
                    0.06373385339975357,
                    4.623199939727783
                ],
                [
                    0.4761405885219574,
                    4.60860013961792
                ],
                [
                    0.8752675652503967,
                    4.60260009765625
                ],
                [
                    0.7321566939353943,
                    4.552000045776367
                ],
                [
                    0.60507732629776,
                    4.543000221252441
                ],
                [
                    0.5963210463523865,
                    4.515999794006348
                ],
                [
                    0.4125775396823883,
                    4.5157999992370605
                ],
                [
                    0.9572246074676514,
                    4.482500076293945
                ],
                [
                    0.4831300675868988,
                    4.479000091552734
                ],
                [
                    0.8771694302558899,
                    4.459400177001953
                ],
                [
                    0.7862652540206909,
                    4.396100044250488
                ],
                [
                    0.8290084600448608,
                    4.394199848175049
                ],
                [
                    0.9336079359054565,
                    4.362199783325195
                ],
                [
                    0.6445609331130981,
                    4.339099884033203
                ],
                [
                    0.7323397397994995,
                    4.287700176239014
                ],
                [
                    0.5062879323959351,
                    4.250800132751465
                ],
                [
                    0.8089874386787415,
                    4.241499900817871
                ],
                [
                    1.0425920486450195,
                    4.196899890899658
                ],
                [
                    0.864883303642273,
                    4.152599811553955
                ],
                [
                    0.7241126298904419,
                    4.152100086212158
                ],
                [
                    0.3215048611164093,
                    4.112299919128418
                ],
                [
                    0.3755294382572174,
                    3.777100086212158
                ],
                [
                    0.5772325992584229,
                    3.7597999572753906
                ],
                [
                    0.2792975604534149,
                    3.7504000663757324
                ],
                [
                    0.5970168709754944,
                    3.702399969100952
                ],
                [
                    0.41605404019355774,
                    3.5739998817443848
                ],
                [
                    0.8479581475257874,
                    3.5118000507354736
                ],
                [
                    0.8154734373092651,
                    3.471100091934204
                ],
                [
                    0.13269758224487305,
                    3.268199920654297
                ],
                [
                    0.6904597878456116,
                    2.9951000213623047
                ],
                [
                    0.49799853563308716,
                    2.9553000926971436
                ],
                [
                    0.0,
                    2.4038000106811523
                ],
                [
                    null,
                    null
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "Social support",
            "show": true,
            "scale": false,
            "nameLocation": "middle",
            "nameGap": 20,
            "nameTextStyle": {
                "fontFamily": "Times New Roman",
                "fontSize": 20
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": null
        }
    ],
    "yAxis": [
        {
            "name": "Happiness score",
            "show": true,
            "scale": false,
            "nameLocation": "middle",
            "nameGap": 30,
            "nameTextStyle": {
                "color": "black",
                "fontFamily": "Times New Roman",
                "fontSize": 20
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Scatter plot of Social support and Happiness score",
            "left": "center",
            "top": "top",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 2,
        "max": 8,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_bde6ddefbc1f4a4db4effe56b025f160.setOption(option_bde6ddefbc1f4a4db4effe56b025f160);
    </script>
</body>
</html>
