<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="68d9567cdc44416fa5c40846e4e9ed85" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_68d9567cdc44416fa5c40846e4e9ed85 = echarts.init(
            document.getElementById('68d9567cdc44416fa5c40846e4e9ed85'), 'white', {renderer: 'canvas'});
        var option_68d9567cdc44416fa5c40846e4e9ed85 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "China",
            "symbolSize": 10,
            "data": [
                [
                    74.5,
                    4.560495377
                ],
                [
                    74.8,
                    4.86286211
                ],
                [
                    74.9,
                    4.84629488
                ],
                [
                    75.3,
                    4.454360962
                ],
                [
                    75.6,
                    4.652736664
                ],
                [
                    75.9,
                    5.037207603
                ],
                [
                    76.2,
                    5.094917297
                ],
                [
                    76.5,
                    5.2410902980000005
                ],
                [
                    76.7,
                    5.1956191060000005
                ],
                [
                    77.0,
                    5.303877831
                ],
                [
                    77.2,
                    5.32495594
                ],
                [
                    77.2,
                    5.0990614889999994
                ],
                [
                    77.7,
                    5.131433964
                ],
                [
                    78.0,
                    5.144120216
                ],
                [
                    78.1,
                    5.771064758
                ],
                [
                    78.2,
                    5.862864494
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "America",
            "symbolSize": 10,
            "data": [
                [
                    74.5,
                    7.18179369
                ],
                [
                    74.8,
                    7.512687682999999
                ],
                [
                    74.9,
                    7.280385971
                ],
                [
                    75.3,
                    7.158032417
                ],
                [
                    75.6,
                    7.16361618
                ],
                [
                    75.9,
                    7.115138531
                ],
                [
                    76.2,
                    7.026226997
                ],
                [
                    76.5,
                    7.249285221
                ],
                [
                    76.7,
                    7.151114464
                ],
                [
                    77.0,
                    6.863946915
                ],
                [
                    77.2,
                    6.803599834
                ],
                [
                    77.2,
                    6.991759299999999
                ],
                [
                    77.7,
                    6.882684707999999
                ],
                [
                    78.0,
                    6.943701267000001
                ],
                [
                    78.1,
                    7.028088092999999
                ],
                [
                    78.2,
                    6.959087848999999
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "China",
                "America"
            ],
            "selected": {
                "China": true,
                "America": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "Live Expectancy",
            "show": true,
            "scale": false,
            "nameLocation": "middle",
            "nameGap": 30,
            "nameTextStyle": {
                "color": "black",
                "fontFamily": "Times New Roman",
                "fontSize": 20
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 74,
            "max": 80,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": null
        }
    ],
    "yAxis": [
        {
            "name": "Happiness score",
            "show": true,
            "scale": false,
            "nameLocation": "middle",
            "nameGap": 30,
            "nameTextStyle": {
                "color": "black",
                "fontFamily": "Times New Roman",
                "fontSize": 20
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 4,
            "max": 7.8,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "The relationship between live expectancy and Happy Score",
            "left": "center",
            "top": "bottom",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 4,
        "max": 8,
        "inRange": {
            "symbolSize": [
                20,
                50
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_68d9567cdc44416fa5c40846e4e9ed85.setOption(option_68d9567cdc44416fa5c40846e4e9ed85);
    </script>
</body>
</html>
